@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Cabin:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Inter&display=swap");

* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	background-color: #e4e7ec;
	height: 100%;
}

.container {
	padding: 100px 0px;
	margin: 0 auto;
	width: 85%;
}
/*Important*/

/*nav*/
/*nav*/
.top {
	background-color: rgba(228, 231, 236, 0.8);
	width: 100%;
	position: fixed;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	z-index: 10;
}
.nav {
	padding: 8px 0;
	margin: 0 auto;
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	z-index: 10;
}
.image {
	width: 180px;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.txtI {
	font-family: "SIMPLIFICA";
	margin-left: 30px;
	font-size: 20px;
}
.image img {
	width: 100%;
}
.right {
	display: flex;
	flex-direction: row;
	align-items: center;
}
form {
	display: flex;
	align-items: center;
}

/*Searchbox*/
input[type="text"] {
	font-family: "SIMPLIFICA";
	font-size: 20px;
	background-color: white;
	width: 50%;
	height: 35px;
	border: 1px solid #000;
	outline: none;
	padding: 0 20px;
	border-radius: 15px 0 0 15px;
}
button[type="submit"] {
	font-family: "SIMPLIFICA";
	font-size: 18px;
	border-radius: 0 15px 15px 0;
	letter-spacing: 1px;
	border: none;
	outline: none;
	width: 30%;
	height: 37px;
	cursor: pointer;
	color: white;
	background: #1f4591;
	transition: 0.3s;
}
button[type="submit"]:hover {
	background: #102649;
}
/*Searchbox*/

.nav ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
	margin-right: 20px;
}
.nav a {
	color: #000;
	font-size: 22px;
	font-family: "SIMPLIFICA";
	text-decoration: none;
}
.nav li {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	list-style: none;
}
.menu ul li::after {
	content: "";
	width: 0%;
	height: 1px;
	background: #1f4591;
	display: block;
	margin: auto;
	transition: 0.3s;
}

.menu ul li:hover::after {
	width: 100%;
}
.dropdown {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}
.menu ul li {
	display: flex;
	flex-direction: column;
}
.menu {
	display: flex;
	flex-direction: row;
	margin-right: 10px;
}
.menu img {
	width: 15%;
}

/*DropdownList*/
ul.dropdown {
	background-color: white;
	border-radius: 15px;
	z-index: 10;
}
ul li ul.dropdown li {
	padding: 10px;
	display: block;
}
ul li ul.dropdown {
	position: absolute;
	display: none;
	transition: 0.3s;
}
ul li:hover ul.dropdown {
	display: block;
}
ul.dropdown li::after {
	width: 0%;
	height: 1px;
	background: #1f4591;
	display: none;
	margin: auto;
	transition: 0.3s;
}
ul.dropdown li:hover::after {
	width: 100%;
}
ul.dropdown li a:hover {
	color: #1f4591;
	font-weight: 600;
}
/*Dropdownlist*/
.svg {
	width: 4%;
}
.svg img {
	width: 100%;
}
/*nav*/

.content {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	background-image: url(/images/pattern2.svg);
	background-size: 100%;
}
.historiek {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px 0 px;
}

.historiek div {
	width: 30%;
	border-radius: 5px;
}
.historiek h3 {
	font-family: "inter";
	font-size: 20px;
	text-align: center;
	background-color: #1f4591;
	padding: 10px 0px;
	border-radius: 15px;
	color: #fff;
	font-weight: 100;
}
.historiek p {
	font-family: "inter";
	line-height: 22px;
	padding: 25px 0px;
}
.first-main {
	width: 85%;
	margin: 0 auto;
	padding-top: 120px;
}

h1.title {
	position: relative;
	line-height: 70px;
	color: #000;
	font-family: "SIMPLIFICA";
	font-size: 60px;
	font-weight: 100;
	margin-bottom: 50px;
}

h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 75%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	padding-bottom: 20px;
	font-size: 40px;
	font-weight: 300;
	color: #fff;
	font-family: "SIMPLIFICA";
}
.insch {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	background-image: url(/images/oude\ college.jpg);
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	font-size: 100px;
	font-weight: 300;
	color: #fff;
	font-family: "SIMPLIFICA";
}
.insch2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	background-image: url(/images/Bewegingen.jpg);
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	font-size: 100px;
	font-weight: 300;
	color: #fff;
	font-family: "SIMPLIFICA";
}
/*footer*/
.foot {
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	width: 85%;
}
.white {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin: 0 auto;
	width: 85%;
	height: 250px;
}
.frame {
	position: absolute;
	background-color: rgba(31, 69, 145, 0.9);
	color: white;
	display: flex;
	flex-direction: column;
	opacity: 80%;
	border-radius: 15px;
	margin-top: 90px;
	width: 280px;
	height: 290px;
}
.frame h1 {
	font-family: "SIMPLIFICA";
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-left: 13px;
	margin-bottom: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 28px;
}
.frame p {
	font-family: "Inter", sans-serif;
}
.blue {
	display: flex;
	flex-direction: row;
	background-color: rgba(31, 69, 145, 0.2);
	width: 100%;
	height: 220px;
}
.txtB {
	font-family: "Inter", sans-serif;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 80%;
	padding-top: 40px;
}

.txtBlue {
	color: #000;
	margin-right: 130px;
}
.txtBlue h1 {
	font-family: "SIMPLIFICA";
	letter-spacing: 1px;
	font-size: 28px;
}
.txtBlue p {
	font-size: 16px;
	margin-top: 20px;
}
.txtBlue a {
	color: #000;
	text-decoration: none;
}
.txtBlue a:hover {
	color: #1f4591;
	font-weight: 600;
	text-decoration: none;
}
.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 15px;
	margin-left: 40px;
}
.icon {
	width: 14%;
}
.icon img {
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(24deg)
		brightness(105%) contrast(113%);
	width: 100%;
}
.icons p {
	font-size: 14px;
	margin-left: 13px;
	line-height: 20px;
	width: 60%;
}
/*Footer*/

@media only screen and (max-width: 480px) {
	a {
		/* tablet & desktop version */
		display: inline-block;
		margin-right: 20px;
	}
	.historiek div {
		/* tablet */
		width: 100%;
	}
	.txtI {
		font-size: 16px;
	}
	.txtB {
		flex-wrap: wrap;
	}
	.txtB div {
		width: 100%;
	}
	.insch2 {
		text-align: left;
	}
	.insch {
		text-align: left;
	}
	.title {
		text-align: left;
		margin: 30px 0px;
	}
	.container {
		padding: 40px 0px;
	}
	/*foot responsive*/
	.foot {
		display: flex;
		justify-content: flex-end;
		margin: 0 auto;
		width: 85%;
	}
	.white {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		margin: 0 auto;
		width: 85%;
		height: 250px;
	}
	.frame {
		position: absolute;
		background-color: rgba(31, 69, 145, 0.9);
		color: white;
		display: flex;
		flex-direction: column;
		opacity: 80%;
		border-radius: 15px;
		margin-top: 90px;
		width: 280px;
		height: 290px;
	}
	.frame h1 {
		font-family: "SIMPLIFICA";
		display: flex;
		justify-content: center;
		margin-top: 25px;
		margin-left: 13px;
		margin-bottom: 18px;
		font-weight: 400;
		letter-spacing: 1px;
		font-size: 28px;
	}
	.frame p {
		font-family: "Inter", sans-serif;
	}
	.blue {
		display: flex;
		flex-direction: row;
		background-color: rgba(31, 69, 145, 0.2);
		width: 100%;
		height: 220px;
	}
	.txtB {
		font-family: "Inter", sans-serif;
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		width: 80%;
		padding-top: 40px;
	}

	.txtBlue {
		color: #000;
		margin-right: 130px;
	}
	.txtBlue h1 {
		font-family: "SIMPLIFICA";
		letter-spacing: 1px;
		font-size: 28px;
	}
	.txtBlue p {
		font-size: 16px;
		margin-top: 20px;
	}
	.txtBlue a {
		color: #000;
		text-decoration: none;
	}
	.txtBlue a:hover {
		color: #1f4591;
		font-weight: 600;
		text-decoration: none;
	}
	.icons {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 15px;
		margin-left: 40px;
	}
	.icon {
		width: 14%;
	}
	.icon img {
		filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(24deg)
			brightness(105%) contrast(113%);
		width: 100%;
	}
	.icons p {
		font-size: 14px;
		margin-left: 13px;
		line-height: 20px;
		width: 60%;
	}
	/*Footer*/
	/*foot responsive*/
}

.frame {
	position: absolute;
	background-color: rgba(31, 69, 145, 0.9);
	color: white;
	display: flex;
	flex-direction: column;
	opacity: 80%;
	border-radius: 15px;
	margin-top: 90px;
	width: 280px;
	height: 290px;
}
.frame h1 {
	font-family: "SIMPLIFICA";
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 28px;
}
.frame p {
	font-family: "Inter", sans-serif;
}
.blue {
	display: flex;
	flex-direction: row;
	background-color: rgba(31, 69, 145, 0.2);
	width: 100%;
	height: 220px;
}
.txtB {
	font-family: "Inter", sans-serif;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 80%;
	padding-top: 40px;
}

.txtblue {
	color: #000;
	margin-right: 130px;
}
.txtblue h1 {
	font-family: "SIMPLIFICA";
	letter-spacing: 1px;
	font-size: 28px;
}
.txtblue p {
	font-size: 16px;
	margin-top: 20px;
}
.txtblue a {
	color: #000;
	text-decoration: none;
}
.txtblue a:hover {
	color: #1f4591;
	font-weight: 600;
	text-decoration: none;
}
.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 15px;
	margin-left: 40px;
}
.icon {
	width: 14%;
}
.icon img {
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(24deg)
		brightness(105%) contrast(113%);
	width: 100%;
}
.icons p {
	font-size: 14px;
	margin-left: 13px;
	line-height: 20px;
	width: 60%;
}
/*Footer*/
@media only screen and (max-width: 480px) {
	a {
		/* tablet & desktop version */
		display: inline-block;
		margin-right: 20px;
	}
	h1.title {
		/* tablet */
		width: 100%;
	}
	.txtB {
		flex-wrap: wrap;
	}
	.txtB div {
		width: 100%;
	}
	.insch2 {
		text-align: center;
	}
	.insch {
		text-align: center;
	}
	.registration-title {
		text-align: center;
	}
	.registration-title-2 {
		text-align: center;
	}
	.registration-class {
		display: inline-block;
	}
	.registration-class-2 {
		display: inline-block;
	}

	.registration div {
		width: 100%;
		margin-bottom: 50px;
	}
	.registration-class-2 div {
		width: 100%;
		margin-bottom: 50px;
		flex-direction: column;
	}
	.histo p {
		font-family: "inter", sans-serif;
		font-size: 13px;
	}
	/*foot responsive*/
	.frame {
		display: flex;
		justify-content: center;
		width: 100%;
		border-radius: 0px;
		height: 400px;
		padding: 10px 0px;
		margin-top: 0px;
	}
	.icons {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin-left: 0px;
	}
	.icon {
		width: 10%;
		margin-bottom: 10px;
	}
	.icon img {
		width: 100%;
	}
	.icons p {
		margin-left: 0px;
	}
	.frame h1 {
		text-align: center;
		font-size: 40px;
		margin-bottom: 5px;
		margin-top: 0px;
	}
	.frame p {
		font-size: 15px;
	}
	.foot {
		justify-content: center;
	}
	.white {
		display: none;
	}
	.blue {
		display: none;
	}
	/*foot responsive*/
}
