@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Cabin:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Inter&display=swap");

@font-face {
	font-family: "SIMPLIFICA";
	src: url(/SIMPLIFICA/SIMPLIFICA/SIMPLIFICA\ Typeface.ttf0);
}
body {
	margin: 0;
	font-family: "Inter", sans-serif;
}

.wrapper {
	width: 90%;
	height: 200px;
	margin: 0 auto;
	background-color: #e4e7ec;
}
.header {
	width: 100%;
	height: 130px;
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e4e7ec;
}
.logo {
	padding-left: 50px;
}

.logo img {
	width: 100px;
}
.navbar {
	display: flex;
	align-items: center;
	padding: 10px;
}
nav {
	flex: 1;
	text-align: right;
}
nav ul {
	display: inline-block;
	list-style-type: none;
}
nav ul li {
	display: inline-block;
	margin-right: 20px;
	padding: 8px 12px;
}
nav ul li a {
	text-decoration: none;
}
nav ul li::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #1f4591;
	display: block;
	margin: auto;
	transition: 0.5s;
}
nav ul li:hover::after {
	width: 100%;
}

h2 {
	font-size: 38px;
	font-family: "Cabin", sans-serif;
	justify-items: center;
}

.menus .small-container {
	max-width: 1000px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.title {
	text-align: center;
	margin: 0 auto 50px;
	position: relative;
	line-height: 60px;
	color: #555;
	font-family: "SIMPLIFICA";
}
.title::after {
	content: "";
	background: #1f4591;
	width: 180px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.historiek {
	display: flex;
	flex-direction: column;
}
