@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@font-face {
    font-family: 'SIMPLIFICA';
    src: url(/SIMPLIFICA/SIMPLIFICA/SIMPLIFICA\ Typeface.ttf);
}

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #E4E7EC;
}
.nav{
  padding: 20px 0px;
  margin: 0 auto;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.image{
  width: 190px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.txtI{
  font-family: 'SIMPLIFICA';
  margin-left: 30px;
  font-size: 20px;
}
.image img{
  width: 100%;
}
.rechts{
  display: flex;
  flex-direction: row;
  align-items: center;
}
form{
  display: flex;
  align-items: center;
}
/*Searchbox*/
input[type="text"]
{
  font-family: 'SIMPLIFICA';
  font-size: 20px;
  background-color: white;
  width: 50%;
  height: 35px;
  border: 1px solid #000;
  outline: none;
  padding: 0 20px;
  border-radius: 15px 0 0 15px;
}
input[type="submit"]
{
  font-family: 'SIMPLIFICA';
  font-size: 18px;
  border-radius: 0 15px 15px 0;
  border: none;
  outline: none;
  width: 30%;
  height: 37px;
  cursor: pointer;
  color: white;
  background: #1F4591;
}
/*Searchbox*/

.nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 20px;
}
.nav a{
  color: #000;
  font-size: 22px;
  font-family: 'SIMPLIFICA';
  text-decoration: none;
}
.nav li{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  list-style: none;
}
.menu ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #1F4591;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.menu ul li:hover::after{
  width: 100%;
}
.dropdown{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.menu ul li{
  display: flex;
  flex-direction: column;
}
.menu{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.menu img{
  width: 15%;
}

/*DropdownList*/
ul.dropdown{
  background-color: white;
  border-radius: 15px;
  z-index: 10;
}
ul li ul.dropdown li{
  padding: 10px;
  display: block;
}
ul li ul.dropdown{
  position: absolute;
  display: none;
  transition: 0.3s;
}
ul li:hover ul.dropdown{
  display: block;
}
ul.dropdown li::after{
  width: 0%;
  height: 1px;
  background: #1F4591;
  display: none;
  margin: auto;
  transition: 0.3s;
}
ul.dropdown li:hover::after{
  width: 100%;
}
ul.dropdown li a:hover{
  color: #1F4591;
  font-weight: 600;
}
/*Dropdownlist*/
.svg{ 
  width: 4%;
}
.svg img{
  width: 100%;
}

.main{
  width: 85%;
  margin: 0 auto;
}
.main .first-main{
  max-width: 1000px;
  padding-right: 25px;
}
.title{
  grid-row: 1/2;
  grid-column: 2/3;
  position: relative;
  line-height: 70px;
  color: #000;
  font-family: 'SIMPLIFICA';
  font-size: 60px;
	font-weight: 100;
  margin-top: 40px;

}
.title h1{
  
}
/*
.title::after{
  content: '';
  background: #1F4591;
  width: 160px;
  height: 5px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 9%;
  transform: translateX(-50%);
}
*/
h2{
  font-size: 22px;
  font-weight: 300;
  color: #000;
  font-family: 'Inter', sans-serif;
}

h3{
  font-size: 20px;
  font-weight: bold;
  color: #000;
  font-family: 'Inter', sans-serif;
}

.tekst{
  font-family: 'Inter', sans-serif;
}

.inschrijvingen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

.inschrijvingen div {
  width: 30%;
}

.inschrijvingen-class{
  background-color: rgba(31, 69, 145, 0.2);
  opacity: 100%;
  border-radius: 15px;
  padding-bottom: 50px;
}
.inschrijvingen-class p{
  width: 90%;
  padding-top: 20px;
  padding-left: 20px;
}
.inschrijvingen-class li{
  width: 90%;
  padding-top: 20px;
  padding-left: 20px;
}
.inschrijvingen-class a{
  color: #000;
  padding: 14px 25px;
  text-align: center;
  
  display: inline-block;
}
.inschrijvingen-class a:hover {
  color: rgba(31, 69, 145, 0.9);
  
}

.inschrijvingen-class h4{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.foto-inschrijvingen{
  padding-left: 0px;
}
.foto-inschrijvingen img{
  border-radius: 14px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: 300px;
  width: 100%;
  
  
}

.tekst2 div{
  padding-bottom: 150px;
  font-family: 'Inter', sans-serif;
  

}

.tekst2 h3{
  margin-top: 100px;
  margin-bottom: 20px;
}

.inschrijvingen2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
h3.insch{
  padding-top: 30px;
  margin-bottom: 20px;
}
.inschrijvingen2 div {
  width: 30%;
}

.inschrijvingen-class2{
  background-color: rgba(31, 69, 145, 0.2);
  opacity: 100%;
  border-radius: 10px;
}

.inschrijvingen-class2 p{
  width: 90%;
  padding-top: 20px;
  padding-left: 20px;
}
.inschrijvingen-class2 ol{
  width: 90%;
  padding-top: 20px;
  padding-left: 40px;
}
.inschrijvingen-class2 a{
  width: 90%;
  padding-top: 20px;
  padding-left: 20px;
}
.inschrijvingen-class2 h4{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.inschrijvingen-class2 a{
  color: #000;
}
.inschrijvingen-class2 a:hover {
  color: rgba(31, 69, 145, 0.9);
  
}
.foot{
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 85%;
}
.wit{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #E4E7EC;
  margin: 0 auto;
  width: 85%;
  height: 250px;
}
.kader{
  font-family: 'Inter',sans-serif;
  position: absolute;
  background-color: rgba(31, 69, 145, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  opacity: 80%;
  border-radius: 15px;
  margin-top: 100px;
  width: 280px;
  height: 290px;
}
.kader h1{
  margin-top: 25px;
  margin-left: 13px;
  margin-bottom: 18px;
  font-size: 20px;
}
.blauw{
  display: flex;
  flex-direction: row;
  background-color: rgba(31, 69, 145, 0.2);
  width: 100%;
  height: 220px;
}
.txtB{
  font-family: 'Inter',sans-serif;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
  padding-top: 40px;
}

.txtBlauw{
  color: #000;
  margin-right: 130px;
}
.txtBlauw h1{
  font-size: 20px;
}
.txtBlauw p{
  font-size: 16px;
  margin-top: 20px;
}
.txtBlauw a{
  color: #000;
 text-decoration: none;
}
.icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-left: 40px;
}
.icon{
  width: 14%;
}
.icon img{
  width: 100%;
}
.icons p{
  font-size: 14px;
  margin-left: 13px;
  line-height: 20px;
  width: 60%;
}