@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@font-face {
    font-family: 'SIMPLIFICA';
    src: url(/SIMPLIFICA/SIMPLIFICA/SIMPLIFICA\ Typeface.ttf);
}

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #E4E7EC;
    height: 100%;
}
/*nav*/
.nav{
    padding: 20px 0px;
    margin: 0 auto;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.image{
    width: 190px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.txtI{
    font-family: 'SIMPLIFICA';
    margin-left: 30px;
    font-size: 20px;
}
.image img{
    width: 100%;
}
.rechts{
    display: flex;
    flex-direction: row;
    align-items: center;
}
form{
    display: flex;
    align-items: center;
}
/*Searchbox*/
input[type="text"]
{
    font-family: 'SIMPLIFICA';
    font-size: 20px;
    background-color: white;
    width: 50%;
    height: 35px;
    border: 1px solid #000;
    outline: none;
    padding: 0 20px;
    border-radius: 15px 0 0 15px;
}
input[type="submit"]
{
    font-family: 'SIMPLIFICA';
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    border: none;
    outline: none;
    width: 30%;
    height: 37px;
    cursor: pointer;
    color: white;
    background: #1F4591;
}
/*Searchbox*/

.nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 20px;
}
.nav a{
    color: #000;
    font-size: 22px;
    font-family: 'SIMPLIFICA';
    text-decoration: none;
}
.nav li{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    list-style: none;
}
.menu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #1F4591;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.menu ul li:hover::after{
    width: 100%;
}
.dropdown{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.menu ul li{
    display: flex;
    flex-direction: column;
}
.menu{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.menu img{
    width: 15%;
}

/*DropdownList*/
ul.dropdown{
    background-color: white;
    border-radius: 15px;
    z-index: 10;
}
ul li ul.dropdown li{
    padding: 10px;
    display: block;
}
ul li ul.dropdown{
    position: absolute;
    display: none;
    transition: 0.3s;
}
ul li:hover ul.dropdown{
    display: block;
}
ul.dropdown li::after{
    width: 0%;
    height: 1px;
    background: #1F4591;
    display: none;
    margin: auto;
    transition: 0.3s;
}
ul.dropdown li:hover::after{
    width: 100%;
}
ul.dropdown li a:hover{
    color: #1F4591;
    font-weight: 600;
}
/*Dropdownlist*/
.svg{ 
    width: 4%;
}
.svg img{
    width: 100%;
}















/*************************************************MAIN*****************************************************************************************/
.container{
    width: 85%;
    margin: 0 auto;
    padding-top: 20px;
    
    
}

.hoofdtitel{
    font-family: 'SIMPLIFICA';
    font-size: 24px;
}

.subtitel{
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Inter' , 'sans-serif';
    line-height: 15px;
}


.schoolbestuur{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 20px;
}
.schoolbestuur h3{
    padding-bottom: 10px;
    font-family: 'Inter' , 'sans-serif';
    font-weight: lighter;
}

.schoolbestuur ul li{
    list-style-type: circle;
    font-family: 'Inter' , 'sans-serif';
}

.schoolbestuur div{
    width: 60%;
}

.schoolbestuurtekst {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 16px;
    padding: 0px 0px;
    font-family: 'Inter', 'sans-serif';
  }

.schoolbestuur2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 20px;
}
.schoolbestuur2 h3{
    padding-bottom: 10px;
    font-family: 'Inter' , 'sans-serif';
    font-weight: lighter;
}


.schoolbestuur2 ul li{
    list-style-type: circle;
    font-family: 'Inter' , 'sans-serif';

}

.schoolbestuur2 div{
    width: 60%;
}

.schoolbestuurtekst2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Inter', 'sans-serif';
    font-weight: bold;
  }

  .transform-your-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
}

.transform-your-team div {
    width: 40%;
}

.item-team p,
.item-team h4 {
    width: 100%;
}

table .een {
    border-collapse: collapse;
    width: 5%;
    margin-top: 20px;
    
  }

  
  
  th, td {
    text-align: left;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    
  }
  
  tr:nth-child(even){background-color: #f2f2f2;
}
  
  th {
    background-color: #1F4591;
    color: white;

  }

  .schoolbestuurtekst-ouderraad {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 0px;
    padding-left: 80px;
    font-size: 16px;
    font-family: 'Inter', 'sans-serif';
  }
  .schoolbestuurtekst-schoolraad {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 16px;
    padding: 0px 0px 20px;
    margin-right: 20px;
    font-family: 'Inter', 'sans-serif';
  }

  .schoolbestuurtekst-vetrouw{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 16px;
    font-family: 'Inter', 'sans-serif';
  }

  .schoolbestuurtekst-vrijwilligers{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 16px;
    padding-bottom: 30px;
    font-family: 'Inter', 'sans-serif';
  }


.sub{
    font-family: 'Inter', sans-serif;
    padding-bottom: 20px;
}















/*footer*/
.foot{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    width: 85%;
}
.wit{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #E4E7EC;
    margin: 0 auto;
    width: 85%;
    height: 250px;
}
.kader{
    font-family: 'Inter',sans-serif;
    position: absolute;
    background-color: rgba(31, 69, 145, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    opacity: 80%;
    border-radius: 15px;
    margin-top: 100px;
    width: 280px;
    height: 290px;
}
.kader h1{
    margin-top: 25px;
    margin-left: 13px;
    margin-bottom: 18px;
    font-size: 20px;
}
.blauw{
    display: flex;
    flex-direction: row;
    background-color: rgba(31, 69, 145, 0.2);
    width: 100%;
    height: 220px;
}
.txtB{
    font-family: 'Inter',sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    padding-top: 40px;
}

.txtBlauw{
    color: #000;
    margin-right: 130px;
}
.txtBlauw h1{
    font-size: 20px;
}
.txtBlauw p{
    font-size: 16px;
    margin-top: 20px;
}
.txtBlauw a{
    color: #000;
   text-decoration: none;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-left: 40px;
}
.icon{
    width: 14%;
}
.icon img{
    width: 100%;
}
.icons p{
    font-size: 14px;
    margin-left: 13px;
    line-height: 20px;
    width: 60%;
}