/*Important*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@font-face {
    font-family: 'SIMPLIFICA';
    src: url(/SIMPLIFICA/SIMPLIFICA/SIMPLIFICA\ Typeface.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #E4E7EC;
    height: 100%;
}
/*Important*/

/*nav*/
.top{
  background-color: rgba(228, 231, 236, 0.8);
  width: 100%;
  position: fixed;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  z-index: 10;
}
.nav{
  padding: 8px 0;
  margin: 0 auto;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  z-index: 10;
}
.image{
  width: 180px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.txtI{
  font-family: 'SIMPLIFICA';
  margin-left: 30px;
  font-size: 20px;
}
.image img{
  width: 100%;
}
.right{
  display: flex;
  flex-direction: row;
  align-items: center;
}
form{
  display: flex;
  align-items: center;
}

/*Searchbox*/
input[type="text"]
{
  font-family: 'SIMPLIFICA';
  font-size: 20px;
  background-color: white;
  width: 50%;
  height: 35px;
  border: 1px solid #000;
  outline: none;
  padding: 0 20px;
  border-radius: 15px 0 0 15px;
}
button[type="submit"]
{
  font-family: 'SIMPLIFICA';
  font-size: 18px;
  border-radius: 0 15px 15px 0;
  letter-spacing: 1px;
  border: none;
  outline: none;
  width: 30%;
  height: 37px;
  cursor: pointer;
  color: white;
  background: #1F4591;
  transition: 0.3s;
}
button[type="submit"]:hover
{
  background: #102649;
}
/*Searchbox*/

.nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 20px;
}
.nav a{
  color: #000;
  font-size: 22px;
  font-family: 'SIMPLIFICA';
  text-decoration: none;
}
.nav li{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  list-style: none;
}
.menu ul li::after{
  content: '';
  width: 0%;
  height: 1px;
  background: #1F4591;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.menu ul li:hover::after{
  width: 100%;
}
.dropdown{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.menu ul li{
  display: flex;
  flex-direction: column;
}
.menu{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.menu img{
  width: 15%;
}

/*DropdownList*/
ul.dropdown{
  background-color: white;
  border-radius: 15px;
  z-index: 10;
}
ul li ul.dropdown li{
  padding: 10px;
  display: block;
}
ul li ul.dropdown{
  position: absolute;
  display: none;
  transition: 0.3s;
}
ul li:hover ul.dropdown{
  display: block;
}
ul.dropdown li::after{
  width: 0%;
  height: 1px;
  background: #1F4591;
  display: none;
  margin: auto;
  transition: 0.3s;
}
ul.dropdown li:hover::after{
  width: 100%;
}
ul.dropdown li a:hover{
  color: #1F4591;
  font-weight: 600;
}
/*Dropdownlist*/
.svg{ 
  width: 4%;
}
.svg img{
  width: 100%;
}
/*nav*/


/*firtstmain*/

.first-main{
  width: 85%;
  margin: 0 auto;

 
}
h1.title{
  position: relative;
  line-height: 70px;
  color: #000;
  font-family: 'SIMPLIFICA';
  font-size: 60px;
	font-weight: 100;
  margin-top: 120px;

}
.registration-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-image: url(/images/secundaire.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  font-size: 100px;
  font-weight: 300;
  color: #fff;
  font-family: 'SIMPLIFICA';
}

.first-main h2{
  font-size: 18px;
  font-weight: 300;
  color: #000;
  font-family: 'Inter', sans-serif;
  padding: 50px 0px 50px 0px;
}


/*main*/

.main{
  width: 85%;
  margin: 0 auto;
  
}
.registration {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px; 
}
.registration-class{
  background-color: rgba(31, 69, 145, 0.2);
  opacity: 100%;
  border-radius: 15px;
  padding-bottom: 50px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  
}
.registration-class p{
  width: 80%;
  padding-top: 20px;
  text-align: left;
  padding-bottom: 30px;
  padding-left: 20px;
  font-size: 16px;
  color: #000;
  
}

.registration-class a{
  color: #000;
  padding: 10px 20px 20px 20px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  display: inline-block;
  border: none;
  outline: none;
  width: 45%;
  height: 10px;
  cursor: pointer;
  color: white;
  background: #1F4591;
  transition: 0.3s;
  border-radius: 10px;

}
.registration-class a:hover {
  color: #000;

}
.registration div {
  width: 31%;
}
.registration-class h4{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

h3{
  font-size: 20px;
  font-weight: bold;
  color: #000;
  font-family: 'Inter', sans-serif;
}

/*main2*/
.main2{
  width: 85%;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}
.registration-title-2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-image: url(/images/inschrijving.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  font-size: 100px;
  font-weight: 300;
  color: #fff;
  font-family: 'SIMPLIFICA';
}

.second-layer {
  padding: 100px 0px 100px 0px;
}

.registration-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.registration-2 div {
  width: 30%;
}

.registration-class-2{
  background-color: rgba(31, 69, 145, 0.2);
  opacity: 100%;
  border-radius: 10px;
  padding-bottom: 40px;
}

.registration-class-2 p{
  width: 90%;
  padding-top: 20px;
  padding-left: 20px;
}
.registration-class-2 ol{
  width: 90%;
  padding-top: 20px;
  padding-left: 40px;
}
.registration-class-2 a{
  width: 90%;
  padding-top: 20px;
  padding-left: 20px;
}
.registration-class-2 h4{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.registration-class-2 a{
  color: #000;
}
.registration-class-2 a:hover {
  color: rgba(31, 69, 145, 0.9);
  
}

/*footer*/
.foot{
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 85%;
}
.white{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 auto;
  width: 85%;
  height: 250px;
}
.frame{
  position: absolute;
  background-color: rgba(31, 69, 145, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  opacity: 80%;
  border-radius: 15px;
  margin-top: 90px;
  width: 280px;
  height: 290px;
}
.frame h1{
  font-family: 'SIMPLIFICA';
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-left: 13px;
  margin-bottom: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 28px;
}
.frame p{
  font-family: 'Inter',sans-serif;
}
.blue{
  display: flex;
  flex-direction: row;
  background-color: rgba(31, 69, 145, 0.2);
  width: 100%;
  height: 220px;
}
.txtB{
  font-family: 'Inter',sans-serif;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
  padding-top: 40px;
}

.txtBlue{
  color: #000;
  margin-right: 130px;
}
.txtBlue h1{
  font-family: 'SIMPLIFICA';
  letter-spacing: 1px;
  font-size: 28px;
}
.txtBlue p{
  font-size: 16px;
  margin-top: 20px;
}
.txtBlue a{
  color: #000;
  text-decoration: none;
}
.txtBlue a:hover{
  color: #1F4591;
  font-weight: 600;
  text-decoration: none;
}
.icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-left: 40px;
}
.icon{
  width: 14%;
}
.icon img{
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(24deg) brightness(105%) contrast(113%);
  width: 100%;
}
.icons p{
  font-size: 14px;
  margin-left: 13px;
  line-height: 20px;
  width: 60%;
}
/*Footer*/

@media screen and (max-width: 480px) {
  .navErik{
    padding-bottom: 30px;
  }
  .vl{
      display: none;
  }
  .Opvoeding{
      flex-direction: column;
      padding: 70px 0px 100px 0px;
  }
  .OP{
      width: 100%;
  }
  .OP p{
      width: 100%;
      margin-bottom: 40px;
  }
  .OP h1{
      margin-bottom: 40px;
  }
  .fotoOP{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  .fotoOP img{
      width: 90%;
  }
  .bewegingen{
      font-size: 60px;
      text-align: center;
      height: 400px;
  }
  .end{
      padding-bottom: 100px ;
  }
  /*foot responsive*/
  .kader{
      display: flex;
      justify-content: center;
      width: 100%;
      border-radius: 0px;
      height: 400px;
      padding: 10px 0px;
      margin-top: 0px;
  }
  .icons{
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-left: 0px;
  }
  .icon{
      width: 10%;
      margin-bottom: 10px;
  }
  .icon img{
      width: 100%;
  }
  .icons p{
      margin-left: 0px;
  }
  .kader h1{
      text-align: center;
      font-size: 40px;
      margin-bottom: 5px;
      margin-top: 0px;
  }
  .kader p{
      font-size: 15px;
  }
  .foot{
      justify-content: center;
  }
  .wit{
      display: none;
  }
  .blauw{
      display: none;
  }
  /*foot responsive*/
  a {
		/* tablet & desktop version */
		display: inline-block;
		margin-right: 20px;
	}
	h1.title {
		/* tablet */
		width: 100%;
	}
	.txtB {
		flex-wrap: wrap;
	}
	.txtB div {
		width: 100%;
	}
  .first-main{
    padding-top: 20px;
  }
	.title {
		text-align: center;
	}
	.registration-title {
		text-align: center;
	}
	.registration-class {
		display: inline-block;
	}
	.registration-class-2 {
		display: inline-block;
	}
  .registration-2 div {
		width: 100%;
		margin-bottom: 50px;
	}
	.registration div {
		width: 100%;
		margin-bottom: 50px;
	}
	.registration-class-2 div {
		width: 100%;
		margin-bottom: 50px;
		flex-direction: column;
	}
  
  .registration-title-2{
    text-align: center;
  }
}

