/*Important*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@font-face {
    font-family: 'SIMPLIFICA';
    src: url(/SIMPLIFICA/SIMPLIFICA/SIMPLIFICA\ Typeface.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #E4E7EC;
    height: 100%;
}
/*Important*/

/*nav*/
.top{
    background-color: rgba(228, 231, 236, 0.8);
    width: 100%;
    position: fixed;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    z-index: 10;
}
.nav{
    padding: 8px 0;
    margin: 0 auto;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    z-index: 10;
}
.image{
    width: 180px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.txtI{
    font-family: 'SIMPLIFICA';
    margin-left: 30px;
    font-size: 20px;
}
.image img{
    width: 100%;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
form{
    display: flex;
    align-items: center;
}

/*Searchbox*/
input[type="text"]
{
    font-family: 'SIMPLIFICA';
    font-size: 20px;
    background-color: white;
    width: 50%;
    height: 35px;
    border: 1px solid #000;
    outline: none;
    padding: 0 20px;
    border-radius: 15px 0 0 15px;
}
button[type="submit"]
{
    font-family: 'SIMPLIFICA';
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    letter-spacing: 1px;
    border: none;
    outline: none;
    width: 30%;
    height: 37px;
    cursor: pointer;
    color: white;
    background: #1F4591;
    transition: 0.3s;
}
button[type="submit"]:hover
{
    background: #102649;
}
/*Searchbox*/

.nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 20px;
}
.nav a{
    color: #000;
    font-size: 22px;
    font-family: 'SIMPLIFICA';
    text-decoration: none;
}
.nav li{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    list-style: none;
}
.menu ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: #1F4591;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.menu ul li:hover::after{
    width: 100%;
}
.dropdown{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.menu ul li{
    display: flex;
    flex-direction: column;
}
.menu{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.menu img{
    width: 15%;
}

/*DropdownList*/
ul.dropdown{
    background-color: white;
    border-radius: 15px;
    z-index: 10;
}
ul li ul.dropdown li{
    padding: 10px;
    display: block;
}
ul li ul.dropdown{
    position: absolute;
    display: none;
    transition: 0.3s;
}
ul li:hover ul.dropdown{
    display: block;
}
ul.dropdown li::after{
    width: 0%;
    height: 1px;
    background: #1F4591;
    display: none;
    margin: auto;
    transition: 0.3s;
}
ul.dropdown li:hover::after{
    width: 100%;
}
ul.dropdown li a:hover{
    color: #1F4591;
    font-weight: 600;
}
/*Dropdownlist*/
.svg{ 
    width: 4%;
}
.svg img{
    width: 100%;
}
/*nav*/
.container{
    display: flex;
    flex-direction: column;
}
.education{
    display: flex;
    flex-direction: row;
    background-color: #CFD8E5;
    padding: 180px 0px 100px 0px;
    margin: 0 auto;
    width: 85%;
}
.ED{
    width: 60%;
}
.picED{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.picED img{
    width: 70%;

}
.ED h1{
    font-family: 'SIMPLIFICA';
    letter-spacing: 1px;
    font-size: 40px;
    margin-bottom: 60px;
    font-weight: 100;
}
.ED p{
    font-family: 'Inter',sans-serif;
    width: 80%;
}
.end{
    padding-bottom: 20px;
    background-image: url(images/pattern2.svg);
}
.steps{
    margin: 50px auto;
    width: 85%;
}
.steps h1{
    font-family: 'SIMPLIFICA';
    font-size: 24px;
}
.step{
    width: 50%;
    margin-top: 80px;
}
.step h1{
    text-decoration: none;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 40px;
}
.step p{
    font-family: 'Inter',sans-serif;
}
.steps2{
    display: flex;
    justify-content: flex-end;
    margin: 0px auto;
    width: 85%;
}
.steps2 h1{
    font-family: 'SIMPLIFICA';
    font-size: 24px;
}
.step2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 80px;
    width: 50%;
}
.step2 h1{
    text-decoration: none;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 40px;
}
.step2 p{
    font-family: 'Inter',sans-serif;
}
.title{
    font-size: 24px;
    font-family: 'SIMPLIFICA';
}
.title h1{
    font-weight: 100;
    font-size: 60px;
}
.vl{
    height: 388px;
    border-left: 1px solid #808080;
}
.first{
    background-color: #CFD8E5;
}
.movement{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/Bewegingen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.movement h1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 85%;
    font-family: 'SIMPLIFICA';
    font-size: 100px;
    font-weight: 600;
    color: white;
}
/*footer*/
.foot{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    width: 85%;
}
.white{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 auto;
    width: 85%;
    height: 250px;
}
.frame{
    position: absolute;
    background-color: rgba(31, 69, 145, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    opacity: 80%;
    border-radius: 15px;
    margin-top: 90px;
    width: 280px;
    height: 290px;
}
.frame h1{
    font-family: 'SIMPLIFICA';
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 13px;
    margin-bottom: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 28px;
}
.frame p{
    font-family: 'Inter',sans-serif;
}
.blue{
    display: flex;
    flex-direction: row;
    background-color: rgba(31, 69, 145, 0.2);
    width: 100%;
    height: 220px;
}
.txtB{
    font-family: 'Inter',sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    padding-top: 40px;
}

.txtBlue{
    color: #000;
    margin-right: 130px;
}
.txtBlue h1{
    font-family: 'SIMPLIFICA';
    letter-spacing: 1px;
    font-size: 28px;
}
.txtBlue p{
    font-size: 16px;
    margin-top: 20px;
}
.txtBlue a{
    color: #000;
    text-decoration: none;
}
.txtBlue a:hover{
    color: #1F4591;
    font-weight: 600;
    text-decoration: none;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-left: 40px;
}
.icon{
    width: 14%;
}
.icon img{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(24deg) brightness(105%) contrast(113%);
    width: 100%;
}
.icons p{
    font-size: 14px;
    margin-left: 13px;
    line-height: 20px;
    width: 60%;
}
/*Footer*/

@media screen and (max-width: 480px) {
    .first{
        padding-top: 50px;
    }
    .vl{
        display: none;
    }
    .education{
        flex-direction: column;
        padding: 70px 0px 100px 0px;
    }
    .ED{
        width: 100%;
    }
    .ED p{
        width: 100%;
        margin-bottom: 40px;
        font-size: 13px;
    }
    .ED h1{
        margin-bottom: 40px;
    }
    .picED{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .picED img{
        width: 90%;
    }
    .movement{
        height: 400px;
    }
    .movement h1{
        font-size: 60px;
        text-align: center;
    }
    .step{
        margin-top: 70px;
        width: 100%;
    }
    .step2{
        margin-top: 20px;
        width: 100%;
    }
    .step p{
        font-size: 13px;
    }
    .step2 p{
        font-size: 13px;
    }
    .step h1{
        font-size: 30px;
    }
    .step2 h1{
        font-size: 30px;
    }
    .end{
        padding-bottom: 110px ;
    }
    /*foot responsive*/
    .frame{
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 0px;
        height: 400px;
        padding: 10px 0px;
        margin-top: 0px;
    }
    .icons{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 0px;
    }
    .icon{
        width: 10%;
        margin-bottom: 10px;
    }
    .icon img{
        width: 100%;
    }
    .icons p{
        margin-left: 0px;
    }
    .frame h1{
        text-align: center;
        font-size: 40px;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .frame p{
        font-size: 15px;
    }
    .foot{
        justify-content: center;
    }
    .white{
        display: none;
    }
    .blue{
        display: none;
    }
    /*foot responsive*/
}