@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@font-face {
    font-family: 'SIMPLIFICA';
    src: url(/SIMPLIFICA/SIMPLIFICA/SIMPLIFICA\ Typeface.ttf);
}

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #E4E7EC;
}
/*nav*/
.nav{
    padding: 20px 0px;
    margin: 0 auto;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.image{
    width: 190px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.txtI{
    font-family: 'SIMPLIFICA';
    margin-left: 30px;
    font-size: 20px;
}
.image img{
    width: 100%;
}
.rechts{
    display: flex;
    flex-direction: row;
    align-items: center;
}
form{
    display: flex;
    align-items: center;
}
input[type="text"]
{
    font-family: 'SIMPLIFICA';
    font-size: 20px;
    background-color: white;
    width: 50%;
    height: 35px;
    border: 1px solid #000;
    outline: none;
    padding: 0 20px;
    border-radius: 25px 0 0 25px;
}
input[type="submit"]
{
    font-family: 'SIMPLIFICA';
    font-size: 18px;
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none;
    width: 30%;
    height: 37px;
    cursor: pointer;
    color: white;
    background: #1F4591;
}
.nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
}
.nav a{
    color: #000;
    font-size: 22px;
    font-family: 'SIMPLIFICA';
    text-decoration: none;
}
.nav li{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    list-style: none;
}
.menu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.dropdown{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.menu ul li:hover::after{
    width: 100%;
}
.menu ul li{
    display: flex;
    flex-direction: column;
}
.menu{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.menu img{
    width: 15%;
}
