@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@font-face {
	font-family: "SIMPLIFICA";
	src: url(/SIMPLIFICA/SIMPLIFICA/SIMPLIFICA\ Typeface.ttf);
}
* {
	margin: 0;
	padding: 0;
}
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, 1fr);
	font-family: "inter";
	font-size: 15px;
}
body {
	background-color: #e4e7ec;
}
nav {
	padding: 20px 0px;
	margin: 0 auto;
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
.image {
	width: 14%;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.txtI {
	font-family: "SIMPLIFICA";
	margin-left: 30px;
	font-size: 20px;
}
.image img {
	width: 100%;
}
.rechts {
	display: flex;
	flex-direction: row;
	align-items: center;
}
input[type="text"] {
	font-family: "SIMPLIFICA";
	font-size: 20px;
	background-color: white;
	width: 50%;
	height: 35px;
	border: 1px solid #000;
	outline: none;
	padding: 0 15px;
	border-radius: 25px 0 0 25px;
}
input[type="submit"] {
	font-family: "SIMPLIFICA";
	font-size: 18px;
	border-radius: 0 25px 25px 0;
	border: none;
	outline: none;
	margin-left: -5px;
	width: 30%;
	height: 35px;
	cursor: pointer;
	color: white;
	background: #1f4591;
}
.foto img {
	width: 90%;
}
.foto {
	grid-column: 2/4;
	grid-row: 2/3;
}
.tekst {
	grid-column: 4/8;
	grid-row: 2/5;
	margin-left: 50px;
}
.tekst2 {
	grid-column: 8/12;
	grid-row: 2/5;
	margin-left: 50px;
}
.head {
	margin-top: 60px;
	grid-column: 2/6;
}
.head h1 {
	font-family: "SIMPLIFICA";
	font-size: 60px;
	font-weight: 100;
}
