@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@font-face {
	font-family: "SIMPLIFICA";
	src: url(/SIMPLIFICA/SIMPLIFICA/SIMPLIFICA\ Typeface.ttf);
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, auto);
	font-family: "inter";
	font-size: 15px;
}
.head {
	grid-column: 2/7;
	grid-row: 2/4;
	margin-bottom: 70px;
}
.head h1 {
	font-weight: 100;
	font-size: 60px;
	font-family: "SIMPLIFICA";
}
.een {
	grid-column: 2/5;
	grid-row: 4/10;
	font-weight: 100;
}
h3 {
	font-weight: 100;
}
.twee {
	grid-column: 5/9;
	grid-row: 4/10;
	margin-left: 50px;
	margin-right: 50px;
}
.drie {
	grid-column: 9/12;
	grid-row: 4/10;
	margin-left: 20px;
}
* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	background-color: #e4e7ec;
	height: 100%;
}
/*nav*/
.top {
	background-color: rgba(228, 231, 236, 0.8);
	width: 100%;
	position: fixed;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.nav {
	padding: 20px 0px;
	margin: 0 auto;
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
.image {
	width: 190px;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.txtI {
	font-family: "SIMPLIFICA";
	margin-left: 30px;
	font-size: 20px;
}
.image img {
	width: 100%;
}
.rechts {
	display: flex;
	flex-direction: row;
	align-items: center;
}
form {
	display: flex;
	align-items: center;
}

/*Searchbox*/
input[type="text"] {
	font-family: "SIMPLIFICA";
	font-size: 20px;
	background-color: white;
	width: 50%;
	height: 35px;
	border: 1px solid #000;
	outline: none;
	padding: 0 20px;
	border-radius: 15px 0 0 15px;
}
button[type="submit"] {
	font-family: "SIMPLIFICA";
	font-size: 18px;
	border-radius: 0 15px 15px 0;
	letter-spacing: 1px;
	border: none;
	outline: none;
	width: 30%;
	height: 37px;
	cursor: pointer;
	color: white;
	background: #1f4591;
	transition: 0.3s;
}
button[type="submit"]:hover {
	background: #102649;
}
/*Searchbox*/

.nav ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
	margin-right: 20px;
}
.nav a {
	color: #000;
	font-size: 22px;
	font-family: "SIMPLIFICA";
	text-decoration: none;
}
.nav li {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	list-style: none;
}
.menu ul li::after {
	content: "";
	width: 0%;
	height: 1px;
	background: #1f4591;
	display: block;
	margin: auto;
	transition: 0.3s;
}

.menu ul li:hover::after {
	width: 100%;
}
.dropdown {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}
.menu ul li {
	display: flex;
	flex-direction: column;
}
.menu {
	display: flex;
	flex-direction: row;
	margin-right: 10px;
}
.menu img {
	width: 15%;
}

/*DropdownList*/
ul.dropdown {
	background-color: white;
	border-radius: 15px;
	z-index: 10;
}
ul li ul.dropdown li {
	padding: 10px;
	display: block;
}
ul li ul.dropdown {
	position: absolute;
	display: none;
	transition: 0.3s;
}
ul li:hover ul.dropdown {
	display: block;
}
ul.dropdown li::after {
	width: 0%;
	height: 1px;
	background: #1f4591;
	display: none;
	margin: auto;
	transition: 0.3s;
}
ul.dropdown li:hover::after {
	width: 100%;
}
ul.dropdown li a:hover {
	color: #1f4591;
	font-weight: 600;
}
/*Dropdownlist*/
.svg {
	width: 4%;
}
.svg img {
	width: 100%;
}
/*nav*/

/*footer*/
.foot {
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	width: 85%;
}
.wit {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	background-color: #e4e7ec;
	margin: 0 auto;
	width: 85%;
	height: 250px;
}
.kader {
	position: absolute;
	background-color: rgba(31, 69, 145, 0.9);
	color: white;
	display: flex;
	flex-direction: column;
	opacity: 80%;
	border-radius: 15px;
	margin-top: 90px;
	width: 280px;
	height: 290px;
}
.kader h1 {
	font-family: "SIMPLIFICA";
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-left: 13px;
	margin-bottom: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 28px;
}
.kader p {
	font-family: "Inter", sans-serif;
}
.blauw {
	display: flex;
	flex-direction: row;
	background-color: rgba(31, 69, 145, 0.2);
	width: 100%;
	height: 220px;
}
.txtB {
	font-family: "Inter", sans-serif;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 80%;
	padding-top: 40px;
}

.txtBlauw {
	color: #000;
	margin-right: 130px;
}
.txtBlauw h1 {
	font-family: "SIMPLIFICA";
	letter-spacing: 1px;
	font-size: 28px;
}
.txtBlauw p {
	font-size: 16px;
	margin-top: 20px;
}
.txtBlauw a {
	color: #000;
	text-decoration: none;
}
.txtBlauw a:hover {
	color: #1f4591;
	font-weight: 600;
	text-decoration: none;
}
.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 15px;
	margin-left: 40px;
}
.icon {
	width: 14%;
}
.icon img {
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(24deg) brightness(105%) contrast(113%);
	width: 100%;
}
.icons p {
	font-size: 14px;
	margin-left: 13px;
	line-height: 20px;
	width: 60%;
}
/*Footer*/
.grid {
	background-image: url(/images/pattern2.svg);
	background-size: 100%;
	padding: 200px 0px;
}
@media (max-width: 480px) {
	.head {
		grid-row: 1/2;
		grid-column: 2/12;
	}
	.een {
		grid-column: 2/12;
		grid-row: 2/4;
		font-weight: 100;
	}
	.twee {
		grid-column: 2/12;
		grid-row: 4/6;
		margin: 0;
		margin-top: 40px;
	}
	.drie {
		grid-row: 6/8;
		grid-column: 2/12;
		margin: 0;
		margin-top: 40px;
	}
	p {
		font-size: 13px;
	}
	.grid {
		padding: 0;
	}
	.head {
		padding-top: 100px;
	}
	.image {
		margin-left: 20px;
		margin-top: 20px;
		margin-right: 0;
	}
	.top {
		display: none;
	}
	.grid h4 {
		font-size: 13;
	}
	.svg {
		width: 50px;
		margin-top: 50px;
	}
}
